# Ignore Python environment and secrets
.env
*.pyc
__pycache__/
.env.*
*.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore node modules
node_modules/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore test and log files
*.log
*.sqlite3

# Ignore build and dist folders
dist/
build/

# Ignore credentials folder if needed
credentials/
